html,
body,
#root {
  background-color: #1a1a1a;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@font-face {
  font-family: "PressStart2P-Regular";
  src: local("PressStart2P-Regular"),
    url(./assets/PressStart2P-Regular.TTF) format("truetype");
}
